.DS_Store
env/
LICENSE.txt
*__pycache__
*.wav
!src/audio/*.wav
!docs/audio/*.wav
src/encoder/saved_models/pretrained.pt
src/vocoder/saved_models/pretrained/pretrained.pt
src/synthesizer/saved_models/pretrained/pretrained.pt
