.DS_Store
env/
*__pycache__
*.wav
old_requirements.txt
!src/audio/*.wav
src/samples
src/encoder/saved_models/*
src/synthesizer/saved_models/*
src/toolbox

src/demo*
src/encoder_train.py
src/encoder_preprocess.py
src/README.md
src/requirements.txt
src/synthesizer_train.py
src/synthesizer_preprocess_audio.py
src/synthesizer_preprocess_embeds.py
src/vocoder/saved_models/*
src/vocoder_train.py
src/vocoder_preprocess.py
