appdirs
audioread
certifi
cffi
chardet
click
cycler
datasets
decorator
dill
ffmpeg
filelock
fsspec
huggingface-hub
idna
inflect
joblib
jsonpatch
jsonpointer
kiwisolver
librosa>=0.8.0
llvmlite
matplotlib>=3.3.0
multiprocess
numba
numpy==1.19.3; platform_system == "Windows"
numpy==1.19.4; platform_system != "Windows"
packaging
pandas
Pillow
pooch
pyarrow
pycparser
pynndescent
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
pytz
pyzmq
regex
requests
resampy
sacremoses
scikit-learn
scipy>=1.0.0
six
sounddevice
SoundFile
threadpoolctl
tokenizers
torch
torchaudio
torchfile
torchvision
tornado
tqdm
transformers
typing-extensions
umap-learn
Unidecode
urllib3
visdom
webrtcvad; platform_system != "Windows"
websocket-client
xxhash
